@import url('https://fonts.googleapis.com/css?family=Palanquin:300&display=swap');
html {
  background-image: url(assets/bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

body {
  overscroll-behavior: none;
  margin: 60px;
}
header {
  background-image: url(assets/logo.png);
  -webkit-filter: drop-shadow( 0 0 40px #ffffff);
  filter: drop-shadow( 0 0 40px #ffffff);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 330px;
  height: 150px;
  position: fixed;
  left: 30%;
  top: -1%;
}
h1 {
  text-align: center;
  padding-left: 150px;
  font-family: 'Palanquin', sans-serif;
  font-size: 2em;
}
.bg {
  width: 900px;
  height: 450px;
  background:  #ffffff;
  border-radius: 10px;
  box-shadow: 10px 10px 0 rgba(2, 2, 2, 0.1);
  border: solid 2px #555555;
  justify-content: flex-start;
  align-content: space-around;
  opacity: .7;
  position: fixed;
  left: 27%;
  top: 20%;
  z-index: -1;
}
.movies {
  width: 900px;
  height: 600px;
  justify-content: flex-start;
  align-content: space-around;
  position: fixed;
  left: 25%;
  top: 20%;
}
.row1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-around;
  align-items: left;
}
.row2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-around;
  align-items: left;
}
.row3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-around;
  align-items: left;
}
.row4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-around;
  align-items: left;
}
.row5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-around;
  align-items: left;
}
.row6 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-around;
  align-items: left;
}
.row7 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-around;
  align-items: stretch;
}
.box {
  display: flex;
  align-items: center;
  /* align-content: space-between; */
}
input[type=checkbox] {
  opacity: 0;
}
input[type=checkbox]:checked {
  opacity: 0;
}
label {
  background-size: 100%;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
}
.check {
  width: 75px;
  height: 75px;
  opacity: 0;
}
label img {
  opacity: 0;
}
:checked+label img {
  transform: scale(0.9);
  z-index: -1;
  opacity: 1;
}
#l1 {
  background-image: url(assets/uncheckednaus.png);
}
#l2 {
  background-image: url(assets/uncheckedlaputa.png);
}
#l3 {
  background-image: url(assets/uncheckedgrave.png);
}
#l4 {
  background-image: url(assets/uncheckedtotoro.png);
}
#l5 {
  background-image: url(assets/uncheckedkiki.png);
}
#l6 {
  background-image: url(assets/uncheckedonly.png);
}
#l7 {
  background-image: url(assets/uncheckedporco.png);
}
#l8 {
  background-image: url(assets/uncheckedocean.png);
}
#l9 {
  background-image: url(assets/uncheckedpoko.png);
}
#l10 {
  background-image: url(assets/uncheckedheart.png);
}
#l11 {
  background-image: url(assets/uncheckedmono.png);
}
#l12 {
  background-image: url(assets/uncheckedyama.png);
}
#l13 {
  background-image: url(assets/uncheckedspirited.png);
}
#l14 {
  background-image: url(assets/uncheckedthecat.png);
}
#l15 {
  background-image: url(assets/uncheckedhowls.png);
}
#l16 {
  background-image: url(assets/uncheckedearthsea.png);
}
#l17 {
  background-image: url(assets/uncheckedponyo.png);
}
#l18 {
  background-image: url(assets/uncheckedarrietty.png);
}
#l19 {
  background-image: url(assets/uncheckedpoppy.png);
}
#l20 {
  background-image: url(assets/uncheckedwind.png);
}
#l21 {
  background-image: url(assets/uncheckedkaguya.png);
}
#l22 {
  background-image: url(assets/uncheckedmarnie.png);
}
#l23 {
  background-image: url(assets/uncheckedhowdoyou.png);
}